.DS_Store
zero/
work/
cirrus/
fairseq/
AFS_DATA_ROOT_wstuff
cvss
fairseqvenv
PRETRAINED_MODELS
AFS_DATA_ROOT_wstuff
cv
DATA_ROOT
get_local_split.py
rename_files.sh
.vscode
SRC_AUDIO
TGT_AUDIO
**/__pycache__/